* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

code {
  font-family: "Consolas", monospace;
}

.resume {
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  min-width: 320px;
  max-width: 1024px;
  width: 100%;
  color: #444444;
  font-weight: 400;
  font-size: 15px;
  font-family: "Segoe UI", sans-serif;
  line-height: 25px;
  column-count: auto;
  column-gap: normal;
}

@media (min-width: 768px) {
  .resume {
    column-count: 2;
    column-gap: 20px;
  }
}

@media (min-width: 992px) {
  .resume {
    font-size: 16px;
  }
}

.resume__title {
  margin-top: 35px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.resume__title_first-child {
  margin-top: 0;
}

.resume__subtitle {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.resume__avatar {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  vertical-align: middle;
  filter: grayscale(100%);
}

.resume__quote {
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.resume__preformatted-text {
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: #eeeeee;
}

.list {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  list-style-type: square;
}

.list_with-sublist {
  margin-top: 0px;
  margin-bottom: 0px;
}

.list__link {
  color: inherit;
  text-decoration-color: #44444480;
  transition: all 250ms;
}

.list__link:hover,
.list__link:focus {
  outline: none;
  color: #0000ff;
  text-decoration-color: #0000ff80;
}
